<h3>Users</h3>
<div class="row-fluid">
  <div class="span9">
  <table class="table table-striped">
  <tbody>
  <tr>
  <td><h6>Name<h6></td>
  <td><h6>IQ Points</h6></td>
  </tr>
    <% users.each(function(user) { %>
      <tr>
      <td>
    	<a href="#/users/<%= user.id %>"><%= user.escape('username') %></a>
      </td>
      <td>
      <%= user.escape('iq') %>
      </td>
    	</tr>
    <% }) %>
    </tbody>
    </table>
  </div>
</div>
<a href="/#">Back</a>