<a class="annotateClose">x</a>
<h4>New annotation</h4>

<form enctype="multipart/form-data">
<input type="hidden" 
			 name="authenticity_token" 
			 value="<%= Versa.Store.authToken %>">

<input type="hidden" 
			 name="annotation[start_char]" 
			 id="annotation_start_char">

<input type="hidden"
			 name="annotation[end_char]"
			 id="annotation_end_char">

<label for="annotation_body">Annotation:</label>
<textarea rows="5" name="annotation[body]" id="annotation_body"></textarea>
<label for="annotation_image_url">Annotation Image URL:</label>
<input type="text" name="annotation[image_url]">
<br>
<input type="submit" value="Submit Annotation">
</form>