
<a class="annotateClose">x</a>

<strong>Annotation:</strong>
<pre>
<%= annotation.escape('body') %>
</pre>
Annotator: <%= annotation.get('annotator').username %><br>
<strong>Rating: </strong>
<span class="rating"><%= annotation.escape('rating') %></span>
<button class="vote like">Like</button>
<button class="vote dislike">Dislike</button>