<h3>Artists</h3>
<br>
<% var sortedArtists = artists.sortBy('name') %>
<ul class="artists">
<% _(sortedArtists).each(function(artist) { %>
  <li>
  <p>
	<% var href = "#/artists/" + artist.id %>
	<a href=<%= href %>><%= artist.escape('name') %></a>
  </p>
  </li>
<% }) %>
</ul>