Songs
<br>
<a href='/#/songs/new'>Add New Song </a>
<ul>
<% songs.each(function(song) { %>
<li><strong>
<% var song_href = '/#/songs/' + song.id %>
<a href="<%= song_href %>"><%= song.escape("title") %></a>
</strong>
<% var artist = song.get('artist') %>
<% var artist_href = '/#/artists/' + artist.id %><br>
<small>by <a href="<%= artist_href %>"><%= artist.escape('name') %></a></small>
</li>
<% }) %>
</ul>