<h3>Songs</h3>
<div class="row-fluid">
  <div class="span9">
    <table class="table table-striped">
    <tbody>
    <tr>
    <td><h6>Song</h6></td>
    <td><h6>Artist</h6></td>
    </tr>
  <% songs.each(function(song) { %>
  <tr>
  <% var song_href = '/#/songs/' + song.id %>
  <td><strong><a href="<%= song_href %>"><%= song.escape("title") %></a></strong></td>
  <% var artist = song.get('artist') %>
  <% var artist_href = '/#/artists/' + artist.id %>
  <td><a href="<%= artist_href %>"> <%= artist.escape('name') %></a></td>
  </tr>
    <% }) %>
    </tbody>
    </table>
    <a href='/#/songs/new'>Add New Song </a>
  </div>
</div>