<h1>
<p>Transcriber: <%= Versa.current_user.escape('username') %></p>
<br>
<form class="new-song">
<input type="hidden" 
			 name="authenticity_token" 
			 value="<%= Versa.authToken %>">

<label for="artist">Artist</label>
<input type="text" name="artist[name]" id="artist_name">
<br>

<label for="album">Album</label>
<input type="text" name="album[title]" id="album_title]">
<br>

<label for="song_title">Song Title</label>
<input type="text" name="song[title]" id="song_title">
<br>

<label for="song_lyrics">Song Lyrics</label>
<textarea name="song[lyrics]" id="song_lyrics"></textarea>
<br>
<br>

<input type="submit" value="Submit Song">
</form>
<a href="/#">Back</a>