<div class="text-center">
  <p><a href="#/songs/new" class="btn btn-success btn-block">Add New Song</a></p>
</div>
<div class="search-field">
  <input type="text" id="songSearch" class="span3" placeholder="Search for song">
</div>
<div class="songs-index">
  <ul class="song-list">
    <% songs.each(function(song) { %>
    <li class="btn btn-small btn-block btn-primary song-button"
        data-id="<%= song.id %>">
      <% var title = song.escape('title') %>
      <% var artistName = song.get('artist').escape('name') %>
      <%= title %><br><%= artistName %>
    </li>
    <% }); %>
  </ul>
</div>