
<script type="text/javascript">
	Versa.current_user = <%= current_user.to_json.html_safe %>
</script>
<div class="row-fluid">
	<div class="span3">
		<div class="sidebar-nav-fixed" id="side_nav">
		</div>
	</div>
	<div class="span9" id="content">
	</div>
</div>