
<script type="text/javascript">
	Versa.Store.current_user = new Versa.Models.User(<%= current_user.to_json(:include => [:follows,:followings]).html_safe %>);
</script>
<div class="row-fluid">
	<div class="span3">
		<div class="sidebar-nav-fixed" id="side_nav">
		</div>
	</div>
	<div class="span9" id="content">
	</div>
</div>