
<script type="text/javascript">
	Versa.current_user = <%= current_user.to_json.html_safe %>
</script>
<div id="side_nav">
	<div id="search_div">
		<input type="text" id="search_input">
	</div>
	<div id="side_index">
	</div>
</div>
<div id="content">
</div>