<div class="row" style="padding-top: 30px">
	<div class="span8 offset1">
	<h1>Welcome to Versa</h1>
	<br>
	<h6>Versa allows you to annotate hip-hop songs.
	<br>
	<br>
	Click a song on the left or add your own song to get started.
	<br>
	<br>
	Versa is a single-page app built with Ruby on Rails and Backbone.js.
	</h6>
	<br>
	<br>
	<p>Versa was built out of pure passion for hip-hop and coding and an admiration for RapGenius.</p>
	</div>
</div>