<div class="row" style="padding-top: 30px">
	<div class="span8 offset1">
	<h1>Welcome to Versa</h1>
	<br>
	<p>Versa allows you to play and annotate hip-hop songs.
	<br>
	Click a song on the left to play and annotate or add your own song to get started.</p>
	<br>
	Versa is a single-page app built with Ruby on Rails and Backbone.js.
	<br>
	<br>
	Versa is a personal project of Ricky Zein, built out of pure passion for hip-hop and coding and an admiration for RapGenius.
	</div>
</div>